include ../mixin/select-tree.pug
header.navbar.navbar-expand-lg.navbar-dark.bg-primary
  .container-fluid
    .row.w-100.align-items-center
      // Left: Logo
      .nav__left.col-md-3
        a.navbar-brand(href="/")
          img(src="/images/logo.png", alt="logo", width="100")

      // Center: Search Form
      .col-5
        form(action="/search", method="GET")
          .form-group.d-flex.mb-0
            input.form-control(
              type="text", 
              placeholder="Nhập từ khóa...", 
              name="keyword"
              value=keyword

            )
            button.btn.btn-light(type="submit") Tìm

      // Right: Navigation Menu
      .nav__right.col-md-4.d-flex.justify-content-end
        ul.navbar-nav.menu-right
          li.nav-item
            a.nav-link(href="/") Trang chủ
          li.nav-item.sub-menu
            a.nav-link(href="/products") Sản phẩm
            if categories && categories.length > 0
              +menu-tree(categories)
          li 
            a.nav-link(href="/cart") Giỏ hàng (#{miniCart ? total : 0})
