mixin select-tree(items, level = 1)
  each item in items
    - const prefix = Array(level + 1).join('-- ')
    option(value=item._id)= `${prefix}${item.title}`
    if item.children && item.children.length > 0
      +select-tree(item.children, level + 1)
//- mixin/select.pug
mixin select-tree-edit(items, level = 1, selectedId = '')
  each item in items
    - const prefix = Array(level + 1).join('-- ')
    
    option(
      value=item._id
      selected= (item._id.toString() === selectedId.toString() ? true : false)
    ) #{prefix}#{item.title}
    if item.children && item.children.length > 0
      +select-tree-edit(item.children, level + 1, selectedId)
