extends ../../layouts/default.pug
include ../../mixin/flash.pug
block main
  +alert-success(5000)
  +alert-error(5000)
  .container.my-5
    .row.justify-content-center
      .col-lg-8
        .card.shadow-lg.rounded-3
          .card-body
            .row
              .col-md-4.mb-3
                if (product.thumbnail)
                  img(src=product.thumbnail, alt=product.title, class="img-fluid rounded")
                else
                  img(src="/images/no-image.png", alt="No Image", class="img-fluid rounded")

              .col-md-8
                if (product.title)
                  h2.mb-3.text-primary #{product.title}

                ul.list-unstyled
                  if (product.price)
                    li.mb-2
                      span.fw-bold Giá: 
                      | #{product.price}đ
                  
                  if (product.discountPercentage)
                    li.mb-2
                      span.fw-bold Giảm giá: 
                      | #{product.discountPercentage}%
                  
                  if (product.stock)
                    li.mb-2
                      span.fw-bold Còn lại: 
                      | #{product.stock}

                form(method="POST", action=`/cart/add/${product.id}`)
                  .mb-3
                    label.form-label(for="quantity") Số lượng:
                    input#quantity.form-control(type="number", name="quantity", value="1", min="1", max=product.stock, required)

                  button.btn.btn-success(type="submit") Thêm vào giỏ hàng

            if (product.description)
              hr
              h5.mt-4.mb-2.text-secondary Mô tả sản phẩm
              p.lead !{product.description}
