extends ../../layouts/auth.pug
include ../../mixin/flash.pug

block main
  +alert-error(5000)

  .container.my-5
    .row.justify-content-center
      .col-8
        h1.text-center Nhập mã OTP xác thực
        form(action="/user/password/otp" method="POST")
          // Email
          div.form-group
            label(for="email") Email
            input#email.form-control(
              type="email",
              name="email",
              required,
              readonly,
              value=email
            )

          // Mã OTP
          div.form-group
            label(for="otp") Mã OTP
            input#otp.form-control(
              type="text",
              name="otp",
              required,
              placeholder="Nhập mã OTP..."
            )

          // Submit
          button.btn.btn-primary.btn-block.mt-3(type="submit") Xác nhận
