.sider
  .inner-menu
    ul
      li
        a(href=`${prefixAdmin}/dashboard`)
          i(class="fas fa-chart-line")
          | Tổng quan
      if currentRole.permissions.includes("products-category_view")
        li
          a(href=`${prefixAdmin}/products`)
            i(class="fas fa-box")
            | Sản phẩm
      if currentRole.permissions.includes("products_view")
        li
          a(href=`${prefixAdmin}/products-category`)
            i(class="fas fa-folder")
            | Danh mục sản phẩm
      if currentRole.permissions.includes("brand_view")
        li
          a(href=`${prefixAdmin}/brands`)
            i(class="fas fa-tags")
            | Thương hiệu sản phẩm
      if currentRole.permissions.includes("products_view")
        li
          a(href=`${prefixAdmin}/orders`)
            i(class="fas fa-receipt")
            | Quản lý đơn hàng
      if currentRole.permissions.includes("post_view")
        li
          a(href=`${prefixAdmin}/blogs`)
            i(class="fas fa-pen")
            | Quản lý bài viết
      if currentRole.permissions.includes("role_view")
        li
          a(href=`${prefixAdmin}/roles`)
            i(class="fas fa-user-shield")
            | Nhóm quyền
      if currentRole.permissions.includes("ads_view")
        li
          a(href=`${prefixAdmin}/ads`)
            i(class="fas fa-bullhorn")
            | Quảng cáo
      if currentRole.permissions.includes("permission_view")
        li
          a(href=`${prefixAdmin}/roles/permissions`)
            i(class="fas fa-lock")
            | Phân quyền
      if currentRole.permissions.includes("account_view")
        li
          a(href=`${prefixAdmin}/accounts`)
            i(class="fas fa-user")
            | Tài khoản
      if currentRole.permissions.includes("settings_view")
        li
          a(href=`${prefixAdmin}/settings/general`)
            i(class="fas fa-cog")
            | Cài đặt chung

  // Nhúng Font Awesome và CSS nội tuyến ở cuối
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css")
  style.
    .inner-menu a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #000;
      padding: 5px 0;
    }
    .inner-menu a:hover {
      color: #007bff;
    }
    .inner-menu i {
      margin-right: 5px;
      width: 18px;
      text-align: center;
    }
